.caracters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--fundo-cinza);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--preto);
}

.titulo_caracters {
    font-family: 'Harry Potter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--branco-transparente);
    border-radius: 10px;
}

/* PERSONA GERAIS */

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--branco-transparente);
    border-radius: 10px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.info__titulo {
    color:var(--branco); 
    font-family: 'Harry Potter', sans-serif;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-weight:bold; 
    font-size: 2.5rem;
    font-weight: 400; 
}

.info__titulo:hover {
    transform: scale(1.1); 
    transition: 0.3s;
    cursor:default;
}

.info p {
    color:var(--branco);
}

.btn-pisca {
    color: var(--branco);
    padding: 0.6em 0.8em;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px; 
    -webkit-animation: btn-pisca .9s linear infinite;
    -moz-animation: btn-pisca .9s linear infinite;
    -ms-animation: btn-pisca .9s linear infinite;
    -o-animation: btn-pisca .9s linear infinite;
    animation: btn-pisca .9s linear infinite;
}

.btn-pisca:hover {
    transform: scale(1.1); 
    transition: 0.3s;
    background-image:linear-gradient(to right, #ffffffaa, #686968);
    animation: none;
}

@keyframes btn-pisca {
    0% { opacity: 0; }
    50% { opacity: 0.6; }
    100% { opacity: 1.2; }
}

/* Persona GRIFINORIA */


.grifinoria{
    background-image: url("../images/grifinoria_fundo_persona.jpg");
}

.linha-grifinoria{
    border-color: var(--secundary-color-grifinoria);
}

/* Persona SONSERINA */


.sonserina{
    background-image: url("../images/sonserina_fundo_persona.jpg");
}

.linha-sonserina{

    border-color: #00572aaa;
}

/* Persona LUFA LUFA */

.lufa_lufa{
    background-image: url("../images/lufa_lufa_fundo_persona.jpg");
}


.linha-lufa_lufa{

    border-color: #c2dc00aa;
}


/* Persona CORVINAL*/

.corvinal{
    background-image: url("../images/corvinal_fundo_persona.jpg");
}

.linha-corvinal{
    border-color: #0420aaaa;
}

/* DARK THEME */

.dark .caracters {
    background-color: #00000055;
}

.dark .titulo_caracters{
    background-color: #000000aa;
}

.dark .info{
    background-color: #000000aa;
}
