.intro {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10vh 20vh auto;
    padding: 10px 20px;
}
.intro h1 {
    font-family: 'Harry Potter', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.intro a {
    color: var(--branco);
    background-color: var(--cinza);
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 50px;
}

.intro a:hover {
    color: var(--preto);
    background-color: var(--branco);
}

.dark-side {
    display: none;
}

/* DARK THEME */

.dark .light-side {
    display: none;
}

.dark .dark-side {
    display: block;
}