@import url('../css/header.css');
@import url('../css/caracters.css');
@import url('../css/houses.css');
@import url('../css/cards.css');
@import url('../css/intro.css');
@import url('../css/creatures.css');
@import url('../css/rodape.css');
@import url('../css/canvas.css');


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oswald&family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/harry-potter');

:root {
    --fundo-cinza: #ffffff55;
    --branco-transparente: #ffffffaa;
    --branco: #fff;
    --preto: #000;
    --cinza: #444444;
    --primary-color-grifinoria: #5b0000;
    --secundary-color-grifinoria: #660505aa;
    --primary-color-sonserina: #00572aaa;
    --secundary-color-sonserina: #084103;
    --primary-color-lufalufa: #c2dc00aa;
    --secundary-color-lufalufa: #b9cf0e;
    --primary-color-corvinal: #0420aaaa;
    --secundary-color-corvinal: #030962;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: poppins, sans-serif;
    font-weight: 400;
    height: auto;
    background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(31, 30, 30, 0.5)), url("../images/wp10521170-hogwarts-4k-wallpapers.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
    
}

a {
    text-decoration: none;
    color: var(--preto);
}
a:hover {
    color: var(--branco);
    transition: 0.3s;
}


/* Dark Theme */

.dark {

    background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(31, 30, 30, 0.5)), url("../images/wallpaper_dark.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    transition: 0.3s;
    color: #fff;
}  

.dark a {
    color: #fff;
}

.dark a:hover {
    color: #000000;
    transition: 0.3s;
}



.intro, .houses, .cards, .caracters, .grifinoria_persona_section, .sonserina_persona_section, .lufa_lufa_persona_section, .corvinal_persona_section, .creatures,.section_rodape{
    visibility: hidden;
}

