.dark .creatures{
    background-color: #00000055;
}

.dark .titulo_creatures{
    color: var(--branco);
    background-color: #000000aa;
}



.titulo_creatures {
    font-family: 'Harry Potter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--branco-transparente);
    border-radius: 10px;
}

.creatures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--fundo-cinza);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--preto);
}


.creatures_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.creatures_img img{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    object-fit: cover;
}

.lista_criaturas li{
    list-style-type:none;
}

.creatures_img img:hover{
    transform: scale(1.1); 
    transition: 0.3s;
}

