@import url('../css/style.css');
@import url('../css/body.css');
@import url('../css/header.css');
@import url('../css/caracters.css');
@import url('../css/houses.css');
@import url('../css/cards.css');
@import url('../css/intro.css');
@import url('../css/creatures.css');
@import url('../css/rodape.css');
@import url('../css/canvas.css');


body {
    background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(31, 30, 30, 0.5)), url("../images/wp10521170-hogwarts-4k-wallpapers.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.dark {
    background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(31, 30, 30, 0.5)), url("../images/wallpaper_dark.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
}