input[type="checkbox"] {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px #000;
    padding: 0 20px;
    position: relative;
    background-image: linear-gradient(to left, #3a3a3aaa, #e4e4e4);
}

.logo_page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Harry Potter', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;    
}

.logo_page:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.navbar {
    font-family: poppins, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.theme__light {
    display: block;
}

.theme__dark {
    display: none;
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    background-color: var(--preto);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.loginBtn:hover {
    color: var(--preto);
    background-color: var(--branco);
}

.play {
    display: block;
}

.stop {
    display: none;
}

.pause .play{
    display: none;
}

.pause .stop{
    display: block;
}

/* DARK THEME */

.dark header {
    background-image: linear-gradient(to left, #303030aa, #121312);
    background-color: var(--preto);
}

.dark .theme__dark {
    color: var(--branco);
    display: block;
}

.dark .theme__light{
    display: none;
}
    
.dark .loginBtn {
    color: var(--branco);
    background-color: var(--preto);
}

.dark .loginBtn:hover {
    color: var(--branco-transparente);
    background-color: var(--branco-transparente);
} 