{% extends 'base.html' %}

{% block title %}Hogwarts World - Home{% endblock %}

{% block conteudo %}
    <style>
        html, body {
            background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(31, 30, 30, 0.5)), url(../static/images/wp10521170-hogwarts-4k-wallpapers.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }

        .dark {
            background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(31, 30, 30, 0.5)), url(../static/images/wallpaper_dark.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
    </style>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>  

    <section class="intro">
        <h1>HOGWARTS WORLD</h1>
        <div class="light-side">
            <b><p>Conheça o mundo bruxo!</p>
            <p>Clique no botão abaixo para personalizar seu personagem.</p></b>
        </div>
        <div class="dark-side">
            <b><p>Conheça o mundo dos comensais da morte!</p>
            <p>Clique no botão abaixo para personalizar seu personagem.</p></b>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'aluno_create' %}">Crie seu personagem!</a>
        {% else %}
            <a href="{% url 'login' %}">Crie seu personagem!</a>
        {% endif %}
    </section>

    <section class="houses" id="houses">
        <h2>CASAS</h2>
        <div class="light-side">
            <p class="houses__text">As casas de Hogwars são: Grifinória, Sonserina, Corvinal e Lufa-Lufa.</p>
            <p class="houses__text">Escolha uma das casas para saber mais sobre ela.</p>
            <div class="cards">
                <div class="card">
                    <div class="card-img">
                        <img src="../static/images/grifinoria.jpg" alt="Grifinoria">
                    </div>
                    <div class="card-details">
                        <h3>Grifinória</h3>
                        <p>Fundada por Godrico Gryffindor. Seus membros
                            são
                            conhecidos por sua coragem, lealdade e determinação. Seu animal é o leão e sua cor é o
                            dourado.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../static/images/sonserina.jpg" alt="Sonserina">
                    </div>
                    <div class="card-details">
                        <h3>Sonserina</h3>
                        <p>Fundada por Salazar Slytherin. Seus membros são
                            conhecidos por sua astúcia, ambição e inteligência. Seu animal é a serpente e sua cor é o
                            verde.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../static/images/lufa_lufa.jpg" alt="Lufa-Lufa">
                    </div>
                    <div class="card-details">
                        <h3>Lufa Lufa</h3>
                        <p>Fundada por Helga Hufflepuff. Seus membros
                            são
                            conhecidos por sua lealdade, honestidade e amizade. Seu animal é o lobo e sua cor é o
                            marrom.</p>                          
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-img">
                        <img src="../static/images/corvinal.jpg" alt="Corvinal">
                    </div>
                    <div class="card-details">
                        <h3>Corvinal</h3>
                        <p>Fundada por Rowena Ravenclaw. Seus membros são
                            conhecidos por sua inteligência, criatividade e sabedoria. Seu animal é uma águia e sua cor é o azul.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dark-side">
            <p class="houses__text">Existe apenas um grupo do mal: Os Comensais da Morte</p>
            <p class="houses__text">Selecione o cartão para saber mais sobre.</p>

            <div class="card">
                <div class="card-img">
                    <img src="../static/images/comensais_morte.jpeg" alt="Comensais da Morte">
                </div>
                <div class="card-details">
                    <h3>Comensais da Morte</h3>
                    <p>Fundada por Tom Riddle (Você-sabe-quem). Liderados pelo bruxo das trevas Lord Voldemort, que buscam purificar a comunidade bruxa eliminando bruxos e bruxas nascidos de pais não-mágicos.</p>
                </div>
            </div>
        </div>
    </section><br>

    <section class="caracters" id="caracters">  
        <h2 class="titulo_caracters"><strong>Personagens Principais:</strong></h2>     
        <br>                
            
        <div class="caracters_container_grifinoria">
            <div class="info grifinoria">
                <hr class="linha-grifinoria">
                <h3 class="info__titulo">Grifinória:</h3>
                <p><b>Harry Potter, Rony Weasley, Hermione Granger</b></p>
                <legend>
                    <a href="#" class="btn-pisca"><i class=""></i> Clique aqui para saber mais</a>
                </legend>
                <hr class="linha-grifinoria">
            </div>
        </div>
        
        <div class="caracters_container_sonserina">
            <div class="info sonserina">
                <hr class="linha-sonserina">
                <h3 class="info__titulo">Sonserina:</h3>
                <p><b>Severo Snape, Draco Malfoy, Tom Riddle</b></p>
                <legend>
                    <a href="#" class="btn-pisca"><i class=""></i> Clique aqui para saber mais</a>
                </legend>
                <hr class="linha-sonserina">
            </div>
        </div>

        <div class="caracters_container_lufa-lufa">
            <div class="info lufa_lufa">
                <hr class="linha-lufa_lufa">
                <h3 class="info__titulo">Lufa Lufa:</h3>
                <p><b>Ninfadora Tonks, Pomona Sprout, Susan Bones</b></p>
                <legend>
                    <a href="#" class="btn-pisca"><i class=""></i> Clique aqui para saber mais</a>
                </legend>
                <hr class="linha-lufa_lufa">
            </div>
        </div>

        <div class="caracters_container_corvinal">
            <div class="info corvinal">
                <hr class="linha-corvinal">
                <h3 class="info__titulo">Corvinal:</h3>
                <p><b>Ninfadora Tonks, Pomona Sprout, Susan Bones</b></p>
                <legend>
                    <a href="#" class="btn-pisca"><i class=""></i> Clique aqui para saber mais</a>
                </legend>
                <hr class="linha-corvinal">
            </div>
        </div>
    </section>
    <br>

    <section class="creatures" id="creatures">  
        <b><h2 class="titulo_creatures"><strong>Criaturas:</strong></h2></b>
        <ul class="lista_criaturas">
            <li class="criatura">
                <div class="creatures_img">
                    <img src="../static/images/hipogrifo.jpg" alt="Hipogrifo">
                </div>
                <h3>Hipogrifo</h3>
                <p>É uma criatura mágica que é metade cavalo e metade águia. É muito inteligente e leal. É muito usado para transporte de alunos e professores de Hogwarts.</p>
            </li>
            <li class="criatura">
                <div class="creatures_img">
                    <img src="../static/images/unicornio.jpg" alt="Unicórnio">
                </div>
                <h3>Unicórnio</h3>
                <p>É uma criatura mágica que é muito rara de se ver. É muito inteligente e leal. É muito usado para transporte de alunos e professores de Hogwarts.</p>
            </li>
            <li class="criatura">
                <div class="creatures_img">
                    <img src="../static/images/jarvey.jpg" alt="jarvey">
                </div>
                <h3>Jarvey</h3>
                <p>O Jarvey se assemelha a um furão crescido demais e é comumente encontrado na Grã-Bretanha, Irlanda e América do Norte . O Jarvey é capaz de fala humana, embora uma conversa verdadeira com um Jarvey seja impossível. A criatura usa declarações e frases curtas, geralmente rudes, em um fluxo quase constante.</p>
            </li>
        </ul>
    </section>
    <br>
    {% load static %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}